In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
saved_model = pickle.load(open('credit_card_model.pickle', 'rb'))

In [3]:
reg = saved_model[0]
one_hot_encoder = saved_model[1]
scaler = saved_model[2]
feature_name = saved_model[3]
numerical_feature = saved_model[4]
ordinal_feature = saved_model[5]
nominal_feature = saved_model[6]

In [4]:
feature_name

['CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'FLAG_MOBIL',
 'FLAG_WORK_PHONE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'JOB',
 'BEGIN_MONTHS',
 'STATUS']

In [5]:
CODE_GENDER = 'F'
FLAG_OWN_CAR = 'Y'
FLAG_OWN_REALTY = 'N'
CNT_CHILDREN = '2+ children'
AMT_INCOME_TOTAL = 270000
NAME_EDUCATION_TYPE = 'Secondary / secondary special'
NAME_FAMILY_STATUS = 'Married'
NAME_HOUSING_TYPE = 'With parents'
DAYS_BIRTH = -13258
DAYS_EMPLOYED = -2300
FLAG_MOBIL = 1
FLAG_WORK_PHONE = 0
FLAG_PHONE = 0
FLAG_EMAIL = 0
JOB = 'Managers'
BEGIN_MONTHS = -6
STATUS = 'C'

In [6]:
incoming_data = pd.DataFrame(np.array([[CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, 
                                        CNT_CHILDREN, AMT_INCOME_TOTAL, NAME_EDUCATION_TYPE, 
                                        NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, DAYS_BIRTH, 
                                        DAYS_EMPLOYED, FLAG_MOBIL, FLAG_WORK_PHONE, 
                                        FLAG_PHONE, FLAG_EMAIL, JOB, BEGIN_MONTHS, STATUS]]), 
                             columns=feature_name)

incoming_data

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS
0,F,Y,N,2+ children,270000,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C

In [7]:
print('numerical_feature :', numerical_feature)
print('ordinal_feature :', ordinal_feature)
print('nominal_feature :', nominal_feature)

numerical_feature : ['AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL', 'BEGIN_MONTHS']
ordinal_feature : []
nominal_feature : ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'JOB', 'STATUS']

### One Hot Encoding

In [8]:
one_hot_feature = []
for i, feature in enumerate(nominal_feature):
    for cate in one_hot_encoder.categories_[i]:
        one_hot_feature_name = str(feature) + '_' + str(cate)
        one_hot_feature.append(one_hot_feature_name)

incoming_data[one_hot_feature] = one_hot_encoder.transform(incoming_data[nominal_feature])
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [9]:
incoming_data

,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,BEGIN_MONTHS,CODE_GENDER_F,CODE_GENDER_M,...,JOB_Security staff,JOB_Waiters/barmen staff,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,270000,-13258,-2300,1,0,0,0,-6,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Feature Scaling

In [10]:
incoming_data_scaled = scaler.transform(incoming_data)

### Prediction

In [11]:
predicted_target = reg.predict(incoming_data_scaled)

In [12]:
predicted_target

array([0])