In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
saved_model = pickle.load(open('insurance_smoker_model.pickle', 'rb'))

In [3]:
reg = saved_model[0]
one_hot_encoder = saved_model[1]
feature_name = saved_model[2]
numerical_feature = saved_model[3]
ordinal_feature = saved_model[4]
nominal_feature = saved_model[5]

In [4]:
feature_name

['age', 'sex', 'bmi', 'children', 'region', 'bmiclass']

In [5]:
age = 32
sex = 0
bmi = 17.765
children = 2
region = 1
bmiclass = 1

In [6]:
incoming_data = pd.DataFrame(np.array([[age, sex, bmi, children, region, bmiclass]]), 
                             columns=feature_name)

incoming_data

    age  sex     bmi  children  region  bmiclass
0  32.0  0.0  17.765       2.0     1.0       1.0

In [7]:
print('numerical_feature :', numerical_feature)
print('ordinal_feature :', ordinal_feature)
print('nominal_feature :', nominal_feature)

numerical_feature : ['age', 'bmi']
ordinal_feature : []
nominal_feature : ['sex', 'children', 'region', 'bmiclass']

### ### Ordinal Encoding

### One Hot Encoding

In [8]:
one_hot_feature = []
for i, feature in enumerate(nominal_feature):
    for cate in one_hot_encoder.categories_[i]:
        one_hot_feature_name = str(feature) + '_' + str(cate)
        one_hot_feature.append(one_hot_feature_name)
        
incoming_data[one_hot_feature] = one_hot_encoder.transform(incoming_data[nominal_feature])
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [9]:
incoming_data

,age,bmi,sex_0,sex_1,children_0,children_1,children_2,children_3,region_0,region_1,region_2,region_3,bmiclass_1,bmiclass_2,bmiclass_3,bmiclass_4
0,32.0,17.765,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

### Prediction

In [10]:
predicted_target = reg.predict(incoming_data)

In [11]:
predicted_target

array([26322.49201368])