In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
saved_model = pickle.load(open('fake_news_model.pickle', 'rb'))

In [3]:
clf = saved_model[0]
title_vectorizer = saved_model[1]
text_vectorizer = saved_model[2]
one_hot_encoder = saved_model[3]
scaler = saved_model[4]
feature_name = saved_model[5]
numerical_feature = saved_model[6]
ordinal_feature = saved_model[7]
nominal_feature = saved_model[8]

In [4]:
feature_name

['title', 'text', 'subject']

In [5]:
title = 'Billy Bush: It was Trump\'s voice on "Access Hollywood" tape'
text = 'WASHINGTON (Reuters) - Former NBC television host Billy Bush accused U.S. President Donald Trump of ‚Äúindulging in some revisionist history‚Äù for reportedly telling allies it was not his voice making lewd remarks as the men waited to film a segment for ‚ÄúAccess Hollywood‚Äù in 2005. ‚ÄúHe said it. ‚ÄòGrab ‚Äòem by the pussy,‚Äô‚Äù Bush wrote in an editorial published in the New York Times on Sunday.  The New York Times reported last month that Trump has been privately telling aides and allies, including at least one U.S. senator, that the voice on the recording was not his.  That would be a reversal from his immediate acknowledgement of responsibility after the tape surfaced weeks ahead of the 2016 presidential election. Trump said: ‚ÄúI said it, I was wrong, and I apologize.‚Äù Reuters has not been able to verify the Times report that he has been privately telling allies a different story. The White House did not immediately respond to a request for comment on  Bush‚Äôs remarks. But White House spokeswoman Sarah Sanders played down the Times report at a White House briefing on Nov. 27. ‚ÄúThe President hasn‚Äôt changed his position. I think if anything that the president questions, it‚Äôs the media‚Äôs reporting on that accuracy,‚Äù Sanders said. Bush laughed on the video as Trump spoke and he lost his job as a host of NBC‚Äôs flagship morning ‚ÄúToday‚Äù show after the tape was leaked to the media in October, upending Trump‚Äôs campaign to become president.'
subject = 'politicsNews'

In [6]:
incoming_data = pd.DataFrame(np.array([[title, text, subject]]), columns=feature_name)

incoming_data

,title,text,subject
0,"Billy Bush: It was Trump's voice on ""Access Ho...",WASHINGTON (Reuters) - Former NBC television h...,politicsNews

### title - Count Vectorization

In [7]:
title_corpus_incoming = incoming_data['title'].tolist()
title_cnt_vec_incoming = title_vectorizer.transform(title_corpus_incoming).toarray()

In [8]:
title_cnt_vec_feature_name = [
    "cnt_title_" + feature for feature in title_vectorizer.get_feature_names()
]

In [9]:
incoming_data[title_cnt_vec_feature_name] = title_cnt_vec_incoming
incoming_data.drop('title', axis=1, inplace=True)

### text - Count Vectorization

In [10]:
text_corpus_incoming = incoming_data['text'].tolist()
text_cnt_vec_incoming = text_vectorizer.transform(text_corpus_incoming).toarray()

In [11]:
text_cnt_vec_feature_name = [
    "cnt_text_" + feature for feature in text_vectorizer.get_feature_names()
]

In [12]:
incoming_data[text_cnt_vec_feature_name] = text_cnt_vec_incoming
incoming_data.drop('text', axis=1, inplace=True)

### ===== Ordinal Encoding & One Hot Encoding =====

In [13]:
# print('numerical_feature :', numerical_feature)
# print('ordinal_feature :', ordinal_feature)
# print('nominal_feature :', nominal_feature)

### ### Ordinal Encoding

### One Hot Encoding

In [14]:
one_hot_feature = []
for i, feature in enumerate(nominal_feature):
    for cate in one_hot_encoder.categories_[i]:
        one_hot_feature_name = str(feature) + '_' + str(cate)
        one_hot_feature.append(one_hot_feature_name)
        
incoming_data[one_hot_feature] = one_hot_encoder.transform(incoming_data[nominal_feature])
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [15]:
incoming_data

,cnt_title_000,cnt_title_10,cnt_title_100,cnt_title_11,cnt_title_12,cnt_title_15,cnt_title_20,cnt_title_2016,cnt_title_2018,cnt_title_abortion,...,cnt_text_young,cnt_text_your,subject_Government News,subject_Middle-east,subject_News,subject_US_News,subject_left-news,subject_politics,subject_politicsNews,subject_worldnews
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Feature Scaling

In [16]:
incoming_data_scaled = scaler.transform(incoming_data)

### Prediction

In [17]:
predicted_target = clf.predict(incoming_data_scaled)

In [18]:
predicted_target

array(['true'], dtype=object)