## Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_regression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from sklearn.linear_model import LinearRegression

## Read Data

In [2]:
data = pd.read_csv('House Price.csv')
data

   NumRooms  Area  SalePrice
0         4   105       1168
1         4   112       1488
2         3   107       1232
3         3   101        949
4         2    91        439
5         3    85        262
6         5    95        897

In [3]:
feature_name = ['NumRooms', 'Area']
target_name  = 'SalePrice'

## Fit Model & Make Prediction

In [4]:
reg = LinearRegression()
reg.fit(data[feature_name], data[target_name])
y_pred = reg.predict(data[feature_name])
y_true = data[target_name].to_numpy()

## Actual vs Predicted

In [5]:
pd.DataFrame(np.hstack([y_true.reshape(-1, 1), y_pred.reshape(-1, 1)]), 
             columns=['Actual_SalePrice', 'Predicted_SalePrice'])

   Actual_SalePrice  Predicted_SalePrice
0            1168.0          1204.183036
1            1488.0          1498.151786
2            1232.0          1199.060268
3             949.0           947.087054
4             439.0           438.017857
5             262.0           275.158482
6             897.0           873.341518

# ========== Regression metrics ==========

## $ R^2 $ score

In [6]:
r2_score(y_true, y_pred)

0.9971801836617127

## Mean squared error

In [7]:
mean_squared_error(y_true, y_pred)

462.1128826530673

## Mean absolute error

In [8]:
mean_absolute_error(y_true, y_pred)

16.998086734694034

## Mean absolute percentage error

In [9]:
mean_absolute_percentage_error(y_true, y_pred)

0.02076988136170835