In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
saved_model = pickle.load(open('hepatitis_c_model.pickle', 'rb'))

In [3]:
reg = saved_model[0]
one_hot_encoder = saved_model[1]
scaler = saved_model[2]
feature_name = saved_model[3]
numerical_feature = saved_model[4]
ordinal_feature = saved_model[5]
nominal_feature = saved_model[6]

In [4]:
feature_name

['Age',
 'Sex',
 'ALB',
 'ALP',
 'ALT',
 'AST',
 'BIL',
 'CHE',
 'CHOL',
 'CREA',
 'GGT',
 'PROT']

In [5]:
Age = 38
Sex = 'm'
ALB = 48.4
ALP = 44.9
ALT = 23.4
AST = 22.1
BIL = 7.9
CHE = 10.53
CHOL = 7.51
CREA = 87
GGT = 43.2
PROT = 82.6

In [6]:
incoming_data = pd.DataFrame(np.array([[Age, Sex, ALB, ALP, ALT, AST, 
                                        BIL, CHE, CHOL, CREA, GGT, PROT]]), 
                             columns=feature_name)

incoming_data

  Age Sex   ALB   ALP   ALT   AST  BIL    CHE  CHOL CREA   GGT  PROT
0  38   m  48.4  44.9  23.4  22.1  7.9  10.53  7.51   87  43.2  82.6

In [7]:
print('numerical_feature :', numerical_feature)
print('ordinal_feature :', ordinal_feature)
print('nominal_feature :', nominal_feature)

numerical_feature : ['Age', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT']
ordinal_feature : []
nominal_feature : ['Sex']

### One Hot Encoding

In [8]:
one_hot_feature = one_hot_encoder.categories_[0]

incoming_data[one_hot_feature] = one_hot_encoder.transform(incoming_data[nominal_feature])
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [9]:
incoming_data

  Age   ALB   ALP   ALT   AST  BIL    CHE  CHOL CREA   GGT  PROT    f    m
0  38  48.4  44.9  23.4  22.1  7.9  10.53  7.51   87  43.2  82.6  0.0  1.0

### Feature Scaling

In [10]:
incoming_data_scaled = scaler.transform(incoming_data)

### Prediction

In [11]:
predicted_target = reg.predict(incoming_data_scaled)

In [12]:
predicted_target

array([False])