In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

# ========== Data ==========

In [2]:
data = pd.read_csv('dataset.csv')

In [3]:
data

   sex  BMI    target
0    0   26  diabetes
1    1   26    normal
2    1   28  diabetes
3    1   30  diabetes
4    0   28    normal
5    0   30    normal

In [4]:
X = data[['sex','BMI']]

In [5]:
y = data['target']

# ========== Model ==========

In [6]:
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier()

In [7]:
r = export_text(clf, feature_names=list(X.columns))

In [8]:
print(r)

|--- sex <= 0.50
|   |--- BMI <= 27.00
|   |   |--- class: diabetes
|   |--- BMI >  27.00
|   |   |--- class: normal
|--- sex >  0.50
|   |--- BMI <= 27.00
|   |   |--- class: normal
|   |--- BMI >  27.00
|   |   |--- class: diabetes

# ========== Prediction ==========

In [9]:
X = pd.read_csv('incoming_data.csv')

In [10]:
X

   sex  BMI
0    0   29
1    0   26
2    1   30
3    1   28

In [11]:
clf.predict(X)

array(['normal', 'diabetes', 'diabetes', 'diabetes'], dtype=object)